<nav class="navbar">
    <ul>
        <li>
            <a routerLink="/home">Home</a>
        </li>
        <li>
            <a routerLink="/login">Login</a>
        </li>
        <li>
            <a routerLink="/register">Register</a>
        </li>
        <li>
            <a routerLink="/dashboard/users">List Users</a>
        </li>
        <li>
            <a routerLink="/dashboard/user/new">New User</a>
        </li>
        <li>
            <a routerLink="/dashboard/user/edit">Edit User</a>
        </li>
    </ul>
</nav>